<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--VUE CDN-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--Style-->
    <link rel="stylesheet" href="assets/style.css " />
    <title>Curso VUE3</title>
  </head>
  <body>
    <div id="app">
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src="image" alt="img-product" />
          </div>
          <!--Imagem do Produto-->
          <div class="product-info">
            <h1>{{ product_title }}</h1>

            <p v-if="inStock >= 10">In Stock</p>
            <p v-else-if="inStock < 10 && inStock > 0">Almost out of Stock</p>
            <p v-else>Out of Stock</p>
            <ul>
              <li v-for="detail in details">{{ detail }}/li></li>
            </ul>
            <div
              v-for="variant in variants"
              :key="variant.id"
              @mouseover="changeImage"
            >
              {{ variant.color }}
            </div>
            <button class="button">Add to Cart</button>
          </div>
          <div class="cart" @click="addToCart">Cart: {{ cart }}</div>
          <!--Info do Produto-->
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref } = Vue; 

      createApp({
        setup() {
          const cart = ref(0);
          const addToCart = () => {
            cart.value += 1;
          };
          const image = ref ("assets/images/t-shirt-blue.png");
          const changeImage = (variantImage) => image.value = variantImage;
          return {
            product_title: ref("T-Shirt"),
            image,
            inStock: ref(10),
            details: ["50% Cotton", "30% Polyester", "20% Wool"],
            variants: [
              { id: 1, color: "blue", image: ("assets/images/t-shirt-blue.png")},
              { id: 1, color: "green", image: ("assets/images/t-shirt-green.png")},
            ],
            cart: ref(0),
            addToCart,
            changeImage
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
